/* Stores all CSS variable */
:root {
    --dark-gray: #212323;
    --dark-purple: #190f27;
    --transluscent-dark-purple: rgba(25, 15, 39, 0.87);
    --light-purple: #5a4570;
    --mid-gray: #989898;
    --light-gray: #dededd;
    --cream : #dbd7cf;
    --white: #ffffff;
    --transluscent-white: rgba(255, 255, 255, 0.8);
    --body-text-color: rgba(35,31,32, 0.87);
    --heading-font: "Gill Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
    --heading-weight: 700;
    --body-font: ;
    --body-font-italic: ;
    --code-font: ;
}

* {
	box-sizing: border-box;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	-ms-box-sizing: border-box;
}

body {
    font-size: 14px;
    font-family: "Muli", "Gill Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
}

a, a:visited, a:hover {
	text-decoration: none;
}

textarea, input {
	-webkit-transition: border .5s ease-in-out;
  transition: border .5s ease-in-out;
}

textarea:focus, input:focus {
	border-color: none;
}

textarea:focus, input:focus, button:focus, button {
    outline: blue;
}

button {
	border: none;
}

.arc text {
  font: 10px sans-serif;
/*    color: #ffffff;*/
  text-anchor: middle;
}
.arc path {
  stroke: #fff;
}

rect.bordered {
    stroke: white;
    stroke-width: 1px;
}

text.axis {
    fill: #000;
    font-family:
}

.axis path,
.axis line {
    fill: none;
    stroke: #000;
    shape-rendering: crispEdges;
}

.bar {
    fill: steelblue;
}

.x.axis path {
    display: none;
}

.legend line {
    stroke: #000;
    shape-rendering: crispEdges;
}

 Add shadow effect to chart. If you don't like it, get rid of it. 
svg {
    -webkit-filter: drop-shadow( 0px 3px 3px rgba(0,0,0,.3) );
    filter: drop-shadow( 0px 3px 3px rgba(0,0,0,.25) );
}

/*Styling for the lines connecting the labels to the slices*/
polyline{
    opacity: .3;
    stroke: black;
    stroke-width: 2px;
    fill: none;
}

/* Make the percentage on the text labels bold*/
.labelName tspan {
    font-style: normal;
    font-weight: 700;
}

/* In biology we generally italicise species names. */
.labelName {
    font-size: 0.9em;
    font-style: italic;
}

#pie-chart {
    display: block;
    margin: 0 auto;
}

#treemap {
    display: block;
    margin: 0 auto;
}

#stacked-bar-chart {
    display: block;
    margin: 0 auto;
}

.paragraph {
    width: 800px;
    display: block;
    margin: 0 auto;
    font-size: 1.25em;
    font-weight: 400;
    line-height: 1.5em;
    color: rgba(0, 0, 0, 0.87);
    margin-bottom: 20px;
}

.title {
    text-align: center;
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
    margin: 60px 0 0 0;
}

.subtitle{
    text-align: center;
    font-family: 'Montserrat', sans-serif;
    font-weight: 500;
    margin: 50px 0 30px 0;
}

.personnel {
    text-align: center;
    margin: 30px 0;
    margin-bottom: 60px;
}

form {
    text-align: center;
    margin-top: 30px;
}

#treebutton {

}

#stackbutton {
}

.tree-text {
    fill: white;
    font-size: 1em;
    font-weight: 100;
}
